<%- include('./partials/header') %>
<body>
    <h1>Welcome To Petpawrazzi</h1>
    
    <% if(allPosts.length){ %>
        <% allPosts.forEach(function(post){ %>
        <div>
            <h3><%=post.petName.name%></h3>
            <img class="img-fluid" src="<%=post.img%>" alt="petPic">
            <div>
                <p><%=post.caption%></p>
                <p>Posted By:</span> <%=post.author.name%> <span class="label">Date:</span> <%= new Date(post.createdAt).toLocaleDateString() %></p>
                <p>Comments..</p>
            </div>
            <%if(post.comments.length){%>
                <ul>
                    <%post.comments.forEach(function(comment){ %>
                        <form action="/comment/<%=comment.id%>?_method=DELETE" method="POST">
                            <% if(user?._id.equals(comment.author.id)){ %>
                                <li> <%=comment.author.name%>: <%=comment.content%> <input type="submit" value="Delete"></li>
                            <% } else {%>
                                <li> <%=comment.author.name%>: <%=comment.content%></li>
                            <% } %>
                        </form>
                    <% }) %>
                </ul>
            <%}%>
                <form action="posts/<%=post.id%>/comments" method="POST">
                    <input type="hidden" name="post" value="<%=post.id%>">
                    <input type="hidden" name="author" value="<%=user.id%>">
                    <textarea name="content" cols="65" rows="10" placeholder="Add a comment"></textarea>
                    <input type="submit" value="⬆">
                </form>
            <% }) %>
        <% } else {%>
            <p>No posts yet</p>
        <%}%>
    </div>
</body>
