<body>
    <%- include('../partials/header') %>
    <h1>Edit Post For <%=post.petName.name%>!</h1>
    <form action="/post/<%=post.id%>?_method=PUT" method="POST">
        <div>
            <label>Photo:</label><br>
            <input type="text" name="img" value="<%=post.img%>">
        </div>
        <div>
            <label>Caption:</label><br>
            <input type="text" name="caption" value="<%=post.caption%>">
        </div>
        <div>
            <input type="submit">
            <a href="/post/<%=post.id%>">Back To Post</a>
        </div>
    </form>
    <img src="/images/giphy.webp" alt="pets">
</body>