<%-include('../partials/header') %>
<body>
    <div>
        <img src="<%=post.img%>" alt="pet">
        <div>
            <p><%=post.petName.name%></p>
            <p><%=post.caption%></p>
            <p>Posted By: <%=post.author.name%></p>
            <p>Posted At: <%= new Date(post.createdAt).toLocaleDateString()%></p>
            <% if(user?._id.equals(post.author.id)){ %>
                <form action="/post/<%=post.id%>/edit">
                    <input type="submit" value="EDIT POST">
                </form>
            <% } %> 
        </div>
    </div>
</body>