<%- include('../partials/header') %>
<h1 id="pro-header"><%= user.name %>, Welcome to your profile!</h1>
<body id="pro-body">
    <table id="pets">
        <tr>
            <% if (user.pets.length) { %>
                <% user.pets.forEach(function(pet){ %>
                    <td>
                        <% if(user?._id.equals(pet.owner)){ %>
                            <form action="/pets/<%=pet.id%>?_method=DELETE" method="POST">
                                <a href="/pets/<%=pet.id%>"><%=pet.name%></a> 
                                <input type="submit" value="Remove Pet">
                            </form>
                        <% } %>
                    </td>
            <% }) %> 
        <% } else {%>
            <td>No pets yet</td>
        <%} %>
        </tr>
    </table>
    <% user.pets.forEach(function(pet){ %>
        <% pet.posts.forEach(function(post){ %>
            <div id="pet-pro-div">
                <h3 id="petName-pro"><%= pet.name %></h3>
                <img id="petPic-pro" src="<%=post.img%>" alt="pet-pic">
            </div>
            <% }) %>
        <% }) %>
</body>