<%- include('../partials/header') %>
<h1>Hello</h1>
<h2><%= user.name %></h2>
<% if (user.pets.length) { %>
    <% user.pets.forEach(function(pet){ %>
        <% console.log(pet.id) %>
        <a href="/pets/<%=pet.id%>"><%=pet.name%></a>
        <% if(user?._id.equals(pet.owner)){ %>
            <%console.log('match')%>
            <form action="/pets/<%=pet.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
        <% } else { %>
            <%console.log('no match')%>
        <% } %>
    <% })%>
<% } else { %>
    <p>No Pets found</p>
<% } %>